@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  input {
    margin-top: 5px;
  }
}

* {
  font-family: 'Manrope', sans-serif;
}

button:disabled {
  cursor: default;
}
